* {
    border: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(17, 24, 40);
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#box {
    background-color: rgb(17, 24, 40);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

#innerbox1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 20px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-size: 18px;
    width: 100%;
    background-color: rgb(3, 6, 23);
    color: white;
    position: fixed;
    top: 0px;
}

.navbarDark a {
    color: aliceblue;
}

.navbarDark #name {
    color: aliceblue;
}

li a {
    position: relative;
}

li a::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: transparent;
    transition: width 0.5s ease;
}


#x {
    display: none;
}

li a:hover::after {
    width: 100%;
    background-color: red;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

li {
    list-style: none;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

#name {
    margin-left: 20px;
    font-size: 35px;
    color: black;
}

.middleName {
    color: red;
}


#java {
    color: red;
}

#innerbox2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.7);
    text-align: start;
    padding: 20px;
    margin-left: 150px;
    /* margin-top: 60px; */

}

#innerbox2 button {
    margin-top: 50px;

}



#subbox {
    margin-top: 60px;
    display: flex;
    /* border: 2px solid black; */
    height: 100vh;
    width: 100vw;

}

hr {
    background-color: aliceblue;
    height: 1px;
    width: 100vw;
}

#about {
    height: 100vh;
    width: 100vw;
    background-color: rgb(17, 24, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}



#rightofabout {
    width: 60%;
    padding-left: 50px;
    padding-right: 100px;
    margin-top: 70px;
}

#leftofabout {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#profileDiv:hover {
    border: 4px solid red;
}

#profileDiv {
    height: 400px;
    width: 400px;
    border: 4px solid rgb(158, 43, 43);
    background-image: url(images/profile.png);
    background-size: cover;
    border-radius: 50%;

}

.skill ul {
    display: flex;
    justify-content: flex-start;
}

.skill li a {
    color: gray;
    font-size: 18px;
    position: relative;
}

.skills {
    height: 200px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    line-height: 1.5;

}

.technicalskills {
    /* background-color: aqua; */
    height: 100%;
    width: 100%;

}

.softSkills {
    height: 100%;
    width: 100%;
    display: none;

}

.education {
    height: 100%;
    width: 100%;
    display: none;

}

.skills h2 {
    font-size: 20px;
    color: rgb(158, 43, 43);
    font-family: sans-serif;

}

.skills p {
    color: white;
    font-family: sans-serif;
    font-size: 17px;

}

.softSkills h2 {
    font-size: 18px;
}

.softSkills p {
    font-size: 15px;
}

h1 {
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    font-size: 50px;
    line-height: 1.4;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: yellow;
    text-align: start;
}

.myDescription {
    color: gray;
    margin-top: 10px;
}

.skill {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2px;
}

button {
    margin-top: 10px;
    /* width: 200px; */
    height: 50px;
    border: 2px solid wheat;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

button:hover {
    color: red;
    border: 2px solid red;
}

#btndiv {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#work {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgb(17, 24, 40);

}

#insidework {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.insidework {
    height: 250px;
    width: 450px;
    background-color: aqua;
    /* border: 1px solid wheat; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.insidework:hover {
    border: 2px solid yellow;
}

.logoAndText {
    height: 180px;
    width: 100%;
    /* background-color: red; */
    margin-bottom: 0px;
    display: flex;
}

.projectLink {
    margin-bottom: 10px;
    margin-top: 0;
}

.projectLink button {
    padding: 15px;
    border: 2px solid red;
    color: black;
    background-color: violet;
}

.projectLink button:active {
    border-color: green;
}

.projectlogo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 10px;
}

.projectText {
    margin-left: 30px;
    flex: 1;
    margin-top: 5px;
    margin-right: 20px;
}

.projectTitle h1 {
    font-size: 25px;
    color: black;
}

.aboutProject p {
    font-size: 18px;
    color: gray;
    margin-top: 10px;
}

#weather_logo {
    background-image: url(images/weather-forecast.png);
    background-size: contain;
}

#notes_logo {
    background-image: url(images/sticky-note-148284_640.png);
    background-size: cover;
}

#waste_logo {
    background-image: url(images/can-310883_640.png);
    background-size: cover;
}

#contact {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#contactinnerdiv {
    height: 70vh;
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contactinnerdiv h1 {
    font-size: 45px;
    color: gray;
    margin-left: 50px;
    font-family: sans-serif;
    font-weight: 700;

}

#contact a {
    text-decoration: none;
    color: red;
}

#contact a:hover {
    text-decoration: none;
    color: blueviolet;
}

.form {
    margin-right: 50px;
}

#or {
    display: none;
}

.formEl {
    width: 600px;
    border: 2px solid yellow;
    margin-top: 10px;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    font-family: sans-serif;
}

.formEl:hover,
.formEl:active {
    border: 2px solid red;
}

.formSubmit {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border: 2px solid wheat;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.formSubmit:hover {
    border: 2px solid red;
}

.formSubmit:active {
    border: 2px solid green;
}



#social_links {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100vh;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-bottom: 0;
    padding: 0;
}

#middleName {
    color: yellow;
    font-size: 100px;
}

#bars {
    display: none;
}

.footer {
    height: 100px;
    width: 100vw;
    background-color: rgb(3, 6, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p {
    color: white;
}


#heart {
    color: red;
    font-size: 20px;
}